app = 'abraxas-5wboyw'
primary_region = 'gru'

[build]

[http_service]
auto_start_machines = true
auto_stop_machines = false
force_https = true
internal_port = 8080
max_machines_running = 1
min_machines_running = 1

[[vm]]
cpu_kind = 'shared'
cpus = 1
memory = '512mb'
memory_mb = 512

[deploy]
release_command = "bunx prisma migrate deploy --schema apps/server/prisma/schema.prisma"

[mounts]
destination = "/data"
source = "abraxas_data"
