app = 'abraxas-5wboyw'
primary_region = 'gru'

[build]

[http_service]
auto_start_machines = true
auto_stop_machines = false
force_https = true
internal_port = 8080
max_machines_running = 1
min_machines_running = 1

[[http_service.checks]]
grace_period = "30s"
interval = "15s"
method = "GET"
path = "/health"
timeout = "5s"

[[vm]]
cpu_kind = 'shared'
cpus = 1
memory = '512mb'
memory_mb = 512

[deploy]
release_command = "sh -c 'cd apps/server && bunx prisma migrate deploy'"

[mounts]
destination = "/data"
source = "abraxas_data"
